{% extends "GRsystem/index.html" %}

{% load static %}



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% block content %}
<style>
body
{
    background-image: url("/static/GRsystem/img/help.png") !important;
    background-repeat: no-repeat;
background-size: cover;
background-position: center center;

    
}
img{
  width:100%;
  height:100%;
}
.card
{
  background-image: url("/static/GRsystem/img/help.png") !important 
}
.navigation {
  /* padding: 1000px; */
}
</style>
          
  
<div class="row  d-flex justify-content-center"></div>
<div class="navigation">
    <h1 style="text-align: center;">Covenant University CMS</h1>
  </div>
<br>

</div>

 {% load static %}
 
<center>
  <br>
  <br>
  <br>
<div class="row  d-flex justify-content-center">
<div class="col-sm-3 col-sm-pull-4">
<div class="card bg-primary text-white" style="width: 18rem;">
  <img src="{% static 'GRsystem/img/form1.jpg' %}" class="img-rounded" alt="Cinque Terre">  
    <p style="color:black;" >Get the Complaints.</p>

</div>
</div>
<div class="col-sm-3 col-sm-pull-4">
<div class="card bg-primary text-white" style="width: 18rem;">
  <img src="{% static 'GRsystem/img/solved1.png' %}" class="img-rounded" alt="Cinque Terre">
  <div class="card-body">
    <p style="color:black;"class="card-text">Solve the Complaints.</p>
  </div>
</div>
</div>
<div class="col-sm-3">
<div class="card bg-primary text-white" style="width: 18rem;">
   <img src="{% static 'GRsystem/img/bars1.jpg' %}" class="img-rounded" alt="Cinque Terre">
  <div class="card-body">
    <p style="color:black;" class="card-text">Get the Stats of the Complaints.</p>
  </div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>

</center>

  {% endblock %}